<script type="text/javascript">
    function showErrorImage(element){
        let errorImage = "https://upload.wikimedia.org/wikipedia/commons/0/09/Dummy_flag.png?uselang=en-gb"
        if(element.src !== errorImage) {
            element.src = errorImage;
        }
    }
<{{!}}/script>

<div class="movContainer" style="background-image: url({{movieA.image}});">
    <!--<div class="movie-a-button">
        <
    </div>-->
</div>

<div id="movie-a" >
    <img class="coverPic" src="{{movieA.image}}" alt=""  onerror="showErrorImage(this)">
    <h3>{{movieA.name}}</h3>
</div>

<div class="movContainer" style="background-image: url({{movieB.image}});">
    <!--<div class="movie-b-button">
        >
    </div>-->
</div>

<div id="movie-b" >
    <img class="coverPic" src="{{movieB.image}}" alt="" onerror="showErrorImage(this)">
    <h3>{{movieB.name}}</h3>
</div>