<div class="movContainer" style="background-image: url({{movieA.image}});" >
    <!--<div class="movie-a-button">
        <
    </div>-->
</div>

<div id="movie-a" >
    <img class="coverPic" src="{{movieA.image}}" alt="">
    <h3>{{movieA.name}}</h3>
</div>

<div class="movContainer" style="background-image: url({{movieB.image}});">
    <!--<div class="movie-b-button">
        >
    </div>-->
</div>

<div id="movie-b" >
    <img class="coverPic" src="{{movieB.image}}" alt="">
    <h3>{{movieB.name}}</h3>
</div>