<div class="container">
    <div class="row">
        <div id="main">
            <div class="header">
                <h1>Higher / Lower</h1>
            </div>

            <div class="movContainer">
                <img class="backPic" src="{{movieA.image}}" alt="">
            </div>

            <div id="movie-a" >
                <img class="coverPic" src="{{movieA.image}}" alt="">
                <h3>{{movieA.name}}</h3>
            </div>

            <div class="movContainer">
                <img class="backPic" src="{{movieB.image}}" alt="">
            </div>

            <div id="movie-b" >
                <img class="coverPic" src="{{movieB.image}}" alt="">
                <h3>{{movieB.name}}</h3>
            </div>
        </div>
    </div>
</div>