<div class="container">
    <div class="row">
        <div id="main">
            <div class="header">
                <h1>Higher / Lower</h1>
            </div>

            <div class="movContainer">
                <img class="backPic" src="{{movieA.image}}" alt="">
                <div id="movie-a" >
                    <img class="coverPic" src="{{movieA.image}}" alt="">
                    {{movieA.name}}
                </div>
            </div>
            <div class="movContainer">
                <img class="backPic" src="{{movieB.image}}" alt="">
                <div id="movie-b" >
                    <img class="coverPic" src="{{movieB.image}}" alt="">
                    {{movieB.name}}
                </div>
            </div>
        </div>
    </div>
</div>